@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
::after,
::before {
  font-family: Montserrat;
}

.gradient {
    background: linear-gradient(
        to right,#0cc4e4 ,#0cc4e4,#ff6b08);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.addNew {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addNew > h1 {
  text-transform: uppercase;
  color: lightgrey;
  font-weight: bold;
}